html{
    height: 100%;
}
body{
    height: 95%;
}
h1{
    text-align: center;
    color: #b9b17f;
    margin-top: auto;
}
img{
    max-height: 100%;
    max-width: 100%;
    border: none;
    border-radius: 10px;
}
#menu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
    /*display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    height: 100%;*/
}
.menu_item{
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    column-gap: 20px;
}
.menu_item_ p{
    margin-top: auto;
    font-size: 12px;
    font-weight: bolder;
    color: #bfa3a7;
}
.menu_item_ h1{
    font-size: 14px;
}
.menu_item_ div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.menu_item_ button{
    border: none;
    background-color: #77fff5;
    border-radius: 50px;
    transition: background-color 0.4s ease 0s;
}
.menu_item_ button:hover{
    background-color: #b2ffe2;
}
.dot {
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease 0s;
}
#pages{
    width: 50%;
    margin-left: 50%;
}
.dot_btn{
    background: none;
    border: none;

}
.dot:hover{
    background-color: #bfffa5;
}