body{
    box-sizing: border-box;
    --main-bg-color: #442e43;
    background: var(--main-bg-color);
    margin: 10px 20px 0 20px;
    min-height: 700px;
    min-width: 950px;
}

#alert{
    color: #ffe4fc;
    background: #8c336f;
    text-align: center;
    height: 10%;
    padding: 10px;
    border-radius: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

.logo\&text{
    cursor: pointer;
}

.nav_links{
    list-style: none;
    /*margin-left: -110px;*/
}

.nav_links li a:visited{
    color: #a6c5ff;
}

.nav_links li a{
    color: #a6c5ff;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}
.nav_links li{
    background-color: rgba(255,253,249,0);
    transition: background-color 0.4s ease 0s;
    border: none;
    border-radius: 50px;
}
.nav_links li:hover{
    background-color: #ac62ff;
}
.nav_links li a:hover{
    color: #442e43;
    cursor: pointer;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

header .login{
    background-color: #d076ff;
    color: ivory;
    border-radius: 50px;
    transition: background-color 0.4s ease 0s;
    width: 100px;
    height: 30px;
    border: none;
}
header .login:hover{
    background-color: #ac62ff;
}
header .reg{
    background-color: #f3a0ba;
    color: #8c336f;
    border: none;
    border-radius: 50px;
    width: 125px;
    height: 30px;
    transition: all 0.4s ease 0s;
}

header .reg:hover{
    background-color: #9565d2;
    color: ivory;
}


#now img, #tel_new img{
    max-width: 100%;
    max-height: 100%;
    border: none;
    border-radius: 5px;
}

#news{
    width: 25%;
    background-color: #50506e;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#news h1{
    color: #c3c4ff;
    text-align: center;
    margin-top: 0px;
}

.logo\&text{
    display: flex;
    flex-direction: row;
}

.logo\&text p{
    color: #54cbd2;
    font-size: 35px;
    margin-left: 15px;
}
.logo\&text img{
    margin-top: 20px;
}

#now p, #tel_new p{
    margin: auto;
    text-align: center;
    height: 40px;
}
#now a, #tel_new a{
    text-decoration: none;
    color: #c3c4ff;
}

#now a, #tel_new a:visited{
    color: #c3c4ff;
}
.basket{
    background-color: #bfffa5;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 50px;
    transition: background-color 0.4s ease 0s;
}
.basket:hover{
    background-color: #b2ffe2;
}
.buttons{
    display: flex;
    margin-left: 2px;
}
.buttons a{
    margin-left: 10px;
}

#all_content{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: auto !important;
    margin-top: -20px;
    justify-content: space-between;
}
#content{
    margin-left: 10px;
    background-size: 100% 100%;
    background-color: #365570;
    border: none;
    border-radius: 10px;
    flex-shrink: 0;
    flex-grow: 1;
}
#content iframe{
    border: none;
}